<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add New User</title>
</head>
<body>
<h1>Add New User</h1>
<form th:action="@{/user/add}" method="post">
    <label for="fio">FIO:</label>
    <input type="text" id="fio" name="fio" required><br><br>

    <label for="bDay">Birth Day:</label>
    <input type="date" id="bDay" name="bDay" required><br><br>

    <label for="creditCard">Credit Card:</label>
    <input type="text" id="creditCard" name="creditCard" required><br><br>

    <label for="familyAccount">Family Account:</label>
    <input type="text" id="familyAccount" name="familyAccount" required><br><br>

    <button type="submit">Add User</button>
</form>
</body>
</html>
