<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Details</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #000;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>
<h1>User Details</h1>

<h1>Total Order Sum: <span th:text="${totalOrderSum}">0</span></h1>
<h1>Full Name: <span th:text="${client.fio}">Full Name</span></h1>
<h1>Birthday: <span th:text="${client.bDay}">Birthday</span></h1>
<h1>Credit Card: <span th:text="${client.creditCard}">Credit Card</span></h1>
<h1>Family Account: <span th:text="${client.familyAccount}">Family Account</span></h1>

<a class="btn" th:href="@{/user/{id}/edit(id=${client.idClient})}">Edit</a>

</body>
</html>
