<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User List</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #000;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>
<h1>User List</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>FIO</th>
        <th>Birth Day</th>
        <th>Credit Card</th>
        <th>Family Account</th>
        <th>Actions</th> <!-- Новый столбец для кнопки -->
    </tr>
    </thead>
    <tbody>
    <tr th:each="client : ${clients}">
        <td th:text="${client.idClient}"></td>
        <td th:text="${client.fio}"></td>
        <td th:text="${client.bDay}"></td>
        <td th:text="${client.creditCard}"></td>
        <td th:text="${client.familyAccount}"></td>
        <td>

            <a class = "btn" th:href="@{/user/{id}(id=${client.idClient})}">View Details</a>
            <a class="btn" th:href="@{/user/{id}/edit(id=${client.idClient})}">Edit</a>
        </td>




    </tr>
    </tbody>
</table>
<!-- Кнопка для добавления нового пользователя -->
<div>
    <a class="btn" th:href="@{/user/addForm}">Add New User</a>
</div>

</body>
</html>
